# If SERVER_MODE is set to TEST,
# your website will be accessed using:
# https://{domain}.loca.lt
# Try to make it unique so that it's not already taken.
# If SERVER_MODE is set to DEBUG,
# your domain will be randomized.
DOMAIN=

# Port number for the server.
# Change it if its being used by another process.
PORT=8000

# Can be DEBUG or TEST.
# Use DEBUG mode for a random domain.
# Set TEST mode to use the custom subdomain.
# I might attach other uses to SERVER_MODE later.
SERVER_MODE=DEBUG

# Shared with all weighing nodes as a basic form of authentication
PRESHARED_KEY="This is the default preshared key"

# Database path
DATABASE_PATH=database.sqlite