tunnel: $CLOUDFLARED_TUNNEL_ID
credentials-file: $CLOUDFLARED_TUNNEL_CREDENTIALS_PATH

ingress:

  - hostname: $DOMAIN
    path: /api
    service: http://localhost:$SERVER_PORT
  - hostname: eee4113f-group-41.online
    path: /ws
    service: ws://localhost:8002
  # catch all
  - service: http://localhost:$UI_PORT